.sidebarUpdates {
  text-align: start;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.profileSidebarCardPlaceholder {
  width: 60px;
  border-radius: 50%;
}

.fontWeight {
  font-weight: 700;
}



.buttonSidebar {
  outline: 1px solid;
  outline-color: rgb(53, 53, 53);

}
.buttonSidebar:hover {
  background-color: rgb(0, 0, 0); 
  outline: 2px solid;
}
