ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li:hover {
  cursor: pointer;
}
.pointer:hover {
  cursor: pointer;
}
li {
  margin-top: 1em;
}
a {
  color: black;
  text-decoration: none;
}

#miniFooter a:hover {
  color: rgb(82, 82, 253);
  text-decoration: underline;
}

.glow-btn:hover {
  background-color: rgb(244, 241, 241);
}
.glow-btn:active {
  background-color: lightgray;
}

.parte-sticky {
  position: sticky;
  top: 20px;
  z-index: 10;
}
