.bg-selezionato {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
}

.bg-non-selezionato {
  border: none;
  color: gray;
}
.per-bottoni .glow-btn {
  border: solid 1px lightgrey;
}
a {
  color: black;
  text-decoration: none;
}
