.sidebar {
  border-color: grey;
  position: relative;
}

.height {
  height: 100px;
}
.LeftSidebarHeader {
  width: 270px;
  height: 320px;
  border: 1px black;
}
.background {
  background-image: url("../../../assets/media/placeholderProfileBackground.jpg");
  background-size: cover;
  background-position: center;
}

.profileSidebarCardPlaceholder {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  object-position: center;
  display: block;
}

.profileSidebarCardSecondSection {
  margin-top: 60px;
}

.fontsizeDescriptionText {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
}

.ellipsisText {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.grey {
  color: grey;
}

.experienceText {
  outline: 1px dashed rgb(52, 91, 126);
  margin: 0;
  border-radius: 5px;
  background-color: rgb(238, 237, 237);
}

.experienceText:hover {
  outline: 2px dashed rgb(52, 91, 126);
  background-color: rgb(218, 218, 218);
}

.experienceTextDetails {
  padding-block: 3px;
  font-size: 15px;
}
